<div class="jumbotron mt-4">
  <h1 class="display-4 d-flex justify-content-center mb-5">VAIA VAIA</h1>
  <p class="lead">LA HAS LIADO</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead d-flex justify-content-center mt-5">
    <a class="btn btn-success btn-lg mr-1 " href="#" role="button">Ver Producto</a>
    <a class="btn btn-primary btn-lg " href="#" role="button">Añadir Producto</a>
  </p>
</div>
